.product-details-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;

  @include responsive(max_lg) {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .product-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    row-gap: 20px;

    img {
      border-radius: 20px;
      height: 100%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow: scroll;

    @include responsive(max_lg) {
      max-height: unset;
    }

    &-name {
      font-size: 30px;
      margin-bottom: 10px;
    }

    &-price {
      margin: 20px 0;
      font-size: 30px;
    }

    &-desc {
      margin-top: 30px;

      p {
        margin-bottom: 20px;
      }

      span {
        opacity: 0.7;
      }
    }

    &-quantity {
      p {
        margin: 20px 0;
      }

      .quantity-box {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $light-purple-color;
          width: 50px;
          height: 50px;
          cursor: pointer;
        }

        input {
          background: #f8fafb;
        }
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      margin-top: 50px;

      .add-to-cart,
      .favourite {
        padding: 20px;
        width: 100%;
        border-radius: 18px;
        font-family: $primary-font;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }
      }

      .add-to-cart {
        color: #fff;
        background-color: $purple-color;
      }

      .favourite {
        color: $black-color;
        background-color: $light-purple-color;
      }
    }
  }
}