.error-page {
  height: 100vh;
  background-image: url('../../assets/404-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: 60px;

  .error-content {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    gap: 20px;

    @include responsive(max_sm) {
      justify-content: flex-start;
    }

    p {
      font-size: 15px;
    }

    span {
      opacity: 0.65;
      font-style: oblique;
      font-size: 15px;
    }

    .error-btn {
      color: #fff;
      text-transform: capitalize;
    }
  }

}